<div *ngIf="authService.user | async">
    <h1>Welcome {{(authService.user | async)?.displayName}}</h1>
</div>
<div>
  <mat-card class="example-card">
      <mat-card-actions>
            <button *ngIf="!(authService.user | async)" mat-button (click) = "toLogin()">
              Login
            </button>
            <button *ngIf="authService.user | async" mat-button (click) = "toLogout()">
                Logout
              </button>
              <button *ngIf="!(authService.user | async)" mat-button (click) = "toSignup()">
                  Signup
                </button>
            <button *ngIf="authService.user | async" mat-button (click) = "toWelcome()">
                Welcome
              </button>
              <button *ngIf="authService.user | async" mat-button (click) = "toList()">
                List
              </button>
      </mat-card-actions>
    </mat-card>
  </div>
