<div>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "text" matInput placeholder="Add Todo">
      <mat-hint>Please Enter Your List</mat-hint>
    </mat-form-field>
  </div>
  <button mat-stroked-button color="primary" (click)="addList()">Add</button>
  <br><br>
  <p class="addlist" (click)="addList()">{{row}}</p>

  
  <br><br>

  



  <div *ngIf="authService.user | async">
      <p>Hi {{(authService.user | async)?.displayName}}, there is your List:</p>
    </div>
    
    <ul>
        <onelist *ngFor = "let onelist of list"
        [data] = "onelist"
        (myButtonClicked)="showText($event)"></onelist>
      </ul>
      <div>
          this is the text from the list when you click on the button: {{onelistTextFromlist}}
        </div>

    

