.addlist {color:green}
.example-card
{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 8px;
  background-color: #f8f8f8;
  color: #555;
}

.example-full-width {
  width: 100%;
}

.mat-card-content, .top, .mat-card-actions
{
  margin-left: 30px;
  margin-right: 30px;
}

.mat-raised-button
{
  margin: 0;
}

.loading
{
    display: block;
    margin: auto;
    width: 25%;
    padding: 10px;
}
