<div *ngIf="authService.user | async">
    <p>Hi {{(authService.user | async)?.displayName}}, there is your infotmation:</p>
    <br>
    <p>name: {{(authService.user | async)?.displayName}}</p>

  </div>